@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*cabeçalho*/
html,
body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #95a44a;
    padding: 10px;
}

header>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 10px;
}

header>div>h1 {
    text-align: left;
    font-size: 2rem;
    border-bottom: 2px solid black;

    transition: all 0.15s ease;
}

header>div>h2 {
    padding-top: 5px;
    text-align: left;
    font-size: 1.5rem;

    transition: all 0.15s ease;
}

header>div>h1:hover,
header>div>h2:hover {
    color: #e2e891;
}

nav>ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: auto;
    max-width: 545px;
}

nav>ul>li {
    display: flex;
    flex: 1 0 120px;
    border: 2px solid #afbb62;
    border-radius: 10px;
    background-color: #afbb62;
    list-style: none;
    text-align: center;
}

nav>ul>li>a:hover {
    background-color: #e2e891;
    color: #95a44a;
    border-radius: 10px;
    transform: scale(1.03);
}

nav>ul>li>a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;

    transition: all 0.5s ease;
}

/*Conteúdo*/
main {
    background-color: #fbffa8;
    margin-top: 0px;
    padding: 10px;
}

div {
    display: flex;
}

section {
    scroll-margin-top: 75px;
    background-color: #c1d281;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

section>h2 {
    margin-bottom: 10px;
}

section>p {
    text-align: justify; 
    margin-bottom: 10px;
    font-size: 1.3em;
    letter-spacing: 1px;
    text-indent: 30px;
}

section ul {
    list-style: disc;
    padding-left: 25px;
    margin: 10px 0;
}